<!DOCTYPE html>
<html lang="en">
<head>    
    <script src='/static/index.js'></script>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">    
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>          
</head>
<body>
<div class="container">    
    <div id="chat-area">
                       
    </div>
    <div>
    <form id = "message">
        <input id = "text-field" type="text" autocomplete="off" autofocus placeholder="write here">        
        <button class="btn btn-outline-primary" id = "submit" type="submit">Send</button>
    </form>
    </div>
</div>
</body>
</html>