<!DOCTYPE html>
<html lang="en">
<head>    
    <script src='/static/index.js'></script>    
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>          
</head>
<body>
<div class="container">    
    <div id="chat-area">
                       
    </div>
    <div>
    <form id = "message">
        <input id = "text-field" type="text" autocomplete="off" autofocus placeholder="write here">        
        <button id = "submit" type="submit">Send</button>
    </form>
    </div>
</div>
</body>
</html>